{
	"env": {
		"node": true,
		"browser": true
	},
	"extends": ["prettier", "plugin:@typescript-eslint/recommended"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "tsconfig-tests.json",
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint"],
	"ignorePatterns": ["*.js", "*.mjs"],
	"rules": {}
}
